* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.p2__header {
    text-align: center;
}
.experience {
    font-size: 2.375rem;
    font-weight: 900;
    color: rgb(108, 117, 125);
    margin: 5rem 0;
}

.p2__below {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.p2__leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p2__rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.p2__rightside > p {
  font-size: 0.938rem;
  color: black;
  font-weight: 400;
  width: 40%;
  margin: 0;
  padding: 0;
}
.p2__rightside > * {
    margin: 0;
}

.date {
    font-size: 0.75rem;
    font-weight: 700;
    color: rgb(108, 117, 125);
    margin: 0;
    padding: 0;
}
.p2__title {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
}


@media (max-width: 768px) {
    .p2__below {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .p2__leftside,
    .p2__rightside {
      width: 100%; 
    }
  
    .p2__rightside {
      padding: 0; 
    }
  }
